/.DS_Store
.env
env.yaml
!env.enc.yaml

**/.terraform/*

*.tfstate
*.tfstate.*

*.tfvars
!*.example.tfvars
*.tfvars.json
*.auto.tfvars

.vault_pass
.secrets
*.key
tfplan
*.lock.hcl
!*.enc.tfvars.json

tmp/

tfplan-*