[defaults]
inventory = ./inventory/hosts.yaml 
remote_user = ansible
roles_path = ./roles 
host_key_checking = False
vault_password_file = ./.vault_pass

# Suppresses Python interpreter warnings on newer operating systems
interpreter_python = auto_silent 

[privilege_escalation]
# Automatically asks to become root (sudo) for tasks that need it
become = true 
become_method = sudo
become_user = root
# Set to True if your SSH user requires a password for sudo. 
# If you use passwordless sudo, keep this False.
become_ask_pass = false

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null