add_newline = true
format = "[╭─ ](dimmed white)$os$username$hostname$directory$git_branch$git_status$fill$cmd_duration$time$line_break[│](dimmed white)\n[╰─](dimmed white)$character"
right_format = "${custom.charging_status}$battery"

[fill]
symbol = "·"
style = "dimmed white"

[os]
disabled = false
format = "[$symbol ]($style)"
style = "bold #268bd2"

[os.symbols]
Macos = ""
Ubuntu = ""
Windows = "󰍲"

[git_branch]
format = "[ $symbol$branch ]($style)"
symbol = ""
style = "bold #6c71c4"

[git_status]
format = "[$all_status$ahead_behind]($style) "
style = "bold #dc322f"
conflicted = "~"
untracked = "?"
stashed = "≡"
modified = "!"
staged = "+"
renamed = "»"
deleted = "x"

[directory]
format = "[󰉋 $path]($style) "
style = "bold #2aa198"
truncation_length = 3

[username]
show_always = true
format = "[ $user]($style)"
style_user = "bold #2aa198"

[hostname]
ssh_only = false
format = "[@$hostname ]($style) "
style = "bold #b28d1e"

[cmd_duration]
format = "[⏳ $duration]($style) "
style = "dimmed #586e75"

[time]
disabled = false
format = "[🦉 $time]($style)"
time_format = "%H:%M:%S"
style = "bold #586e75"

[character]
success_symbol = " [ϟ](bold #859900)"
error_symbol = " [ϟ](bold #dc322f)"

[battery]
disabled = false
format = "[$symbol$percentage]($style)"